.switch-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;

    .menu {
        padding: 1em;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: white;
        cursor: pointer;

        &--active {
            background-color: #007bff;
            color: white;
        }
    }
}
